/* HEADER */
header {
    position: relative;
    min-height: 100vh !important;
    width: 100% !important;
    background-image: url(../../img/header-img.jpg);
    background-position: top !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    overflow: hidden;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(5, 5, 5, .8);
    z-index: 1;
}

.header-nav {
    position: relative;
    z-index: 2;
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .title-logo a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.header-nav ul {
    list-style: none;
}
/*
.header-nav ul li {
    display: inline;
    margin: 5px;
    transition: border-bottom 400ms;
    padding-bottom: 15px;
}

.header-nav ul li.active {
    border-bottom: 4px solid #303f9f;
}

.header-nav ul li:hover {
    border-bottom: 4px solid #303f9f;
}

.header-nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    padding: 0 0 10px 0;
    color: white;
}
*/

.header-nav li { 
    display: inline-block;
    margin:0 1.5em;
}

.header-nav li a {
    color: #fff !important;
    font-size: 1.2em;
    padding: 0;
    position: relative; 
    transition: 0.5s all;
    text-decoration: none;
    font-weight: 300;
}

.header-nav li a.active:after {
    backface-visibility: hidden;
    border-color: #303f9f;
    transition: width 350ms ease-in-out;
    width: 100%;
}

.header-nav li a:after {
    backface-visibility: hidden;
    border: 1px solid #303f9f;
    bottom: -3px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
}

.header-nav li a:hover:after {
    backface-visibility: hidden;
    border-color: #303f9f;
    transition: width 350ms ease-in-out;
    width: 100%;
}

.header-nav li a:hover {
    color: #303f9f !important;
    outline: none;
}

.header-nav li  a.active {
    color: #303f9f !important;
    outline: none;
} 

/* Header Title */
.header-title {
    position: relative;
    z-index: 2;
    top: 30vh;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.scroll-down {
    position: relative;
    top: 40vh;
    left: 50%;
    z-index: 2;
    display: inline-flex;
    width: 25px;
    height: 50px;
    border: 3px solid #303f9f;
    border-radius: 20px;
    cursor: pointer;
}

.mouse-wheel {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #303f9f;
    border-radius: 50%;
    margin: auto;
    animation: moveWheel 1.25s linear infinite;
}

@keyframes moveWheel {
    0% {
        opacity: 1;
        translate: 0 -16px;
    }

    100% {
        opacity: 0;
        translate: 0 16px;
    }
}
