/* MEDIA SCREEN  */
/* Max Width */
@media (max-width: 1100px) {
   /* styles */
}

@media (max-width: 992px) {
    .content-cards {
        grid-template-columns: 1fr;
        justify-content: center;
        height: 100%;
    }

    .content-cards .card .desc {
        width: 100%;
    }
}

@media (max-width: 768px) {
     .header-nav {
        flex-direction: column;
    }
    
    .block-content {
        flex-direction: column;
    }

    .block-content .content,
    .image {
        max-width: 100%;
    }
}

@media (max-width: 600px) {
    .header-title {
        top: 20vh;
    }

    .scroll-down {
        top: 30vh;
    }
}


/* Max Height */
@media (max-height: 500px) {
    .header-title {
        top: 10vh;
    }

    .scroll-down {
        top: 20vh;
    }
}

@media (max-height: 400px) {
    .header-title {
        top: 5vh;
    }

    .scroll-down {
        top: 10vh;
    }
}

@media (max-height: 400px) {
    .scroll-down {
        display: none;
    }
}
